@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(243, 207, 207, 0.068);
}

h2 {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#highlight {
    color: blue;
}

h1 {
    text-align: right;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    display: block;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.big-container {
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    gap: 1rem;
    box-sizing: border-box;
}

.left-panel img {
    max-width: 100%;
    height: auto;
}

.right-panel {
    flex: 1;
    background: #ffffff;
    padding: 2rem;
    width: 100%;
}

.form-header h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #0c0e0f;
}

.form-header p {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 1rem;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.input-box {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .input-box {
        flex: 1 1 calc(50% - 16px);
    }
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: #495057;
}

input,
select {
    padding: 0.7rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #495057;
    box-sizing: border-box;
}

.signup-button {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: rgb(62, 62, 230);
    color: white;
    display: inline-block;
    width: 100%;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
}

.small-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icon-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.icon-wrapper a {
    text-decoration: none;
    color: inherit;
}

.icon-wrapper svg {
    width: 24px;
    height: 24px;
    transition: fill 0.3s ease;
}

.icon-wrapper svg:hover {
    fill: #0077b5;
}

.copy {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
}
